.jFlex {
	overflow: hidden;
	position: relative;
	-moz-transform: translate3d(0,0,0);
	-ms-transform: translate3d(0,0,0);
	-o-transform: translate3d(0,0,0);
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.jflex--wrapper {
	position: relative;
}

.slides {
	-webkit-backface-visibility: hidden;
	list-style: none;
	margin: 0;
	padding: 0;
	-webkit-perspective: 1000;
	position: relative;
	-moz-transform: translate3d(0,0,0);
	-ms-transform: translate3d(0,0,0);
	-o-transform: translate3d(0,0,0);
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
	-webkit-transform-style: preserve-3d;
	z-index: 1;
}

.slides--anim {
	-moz-transition: transform ease-out .3s;
	-ms-transition: transform ease-out .3s;
	-o-transition: transform ease-out .3s;
	-webkit-transition: transform ease-out .3s;
	transition: transform ease-out .3s;
}

.slides--titles {
	margin: 0;
	padding: 0;
}

.slides:before,
.slides--titles:before,
.slides:after,
.slides--titles:after {
	content: ' ';
	display: table;
}

.slides:after,
.slides--titles:after {
	clear: both;
}

.slides li {
	display: block;
	float: left;
	overflow: hidden;
	position: relative;
	width: 100%;
}

.slides img {
	display: block;
	height: auto;
	max-width: 100%;
}

.slides--titles li {
	background: #eee;
	cursor: pointer;
	float: left;
	overflow: hidden;
	position: relative;
	text-align: center;
	-moz-transition: background linear .3s;
	-ms-transition: background linear .3s;
	-o-transition: background linear .3s;
	-webkit-transition: background linear .3s;
	transition: background linear .3s;
	width: 33.33333%;
}

.jflex--dark .slides--titles li {
	background: #222;
}

.jflex--2 li {
	width: 50%;
}

.jflex--3 li {
	width: 33.3333333%;
}

.jflex--4 li {
	width: 25%;
}

.jflex--5 li {
	width: 20%;
}

.jflex--6 li {
	width: 16.6666667%;
}

.jflex--7 li {
	width: 14.285714286%;
}

.jflex--8 li {
	width: 12.5%;
}

.jflex--9 li {
	width: 11.11111%;
}

.jflex--10 li {
	width: 10%;
}

.slides--titles li .title--l {
	background: #555;
	display: block;
	height: 4px;
	position: relative;
}

.slides--anim-js li .title--l {
	left: -100%;
}

.slides--anim-css li .title--l {
	-moz-transform: translate3d(-100%,0,0);
	-ms-transform: translate3d(-100%,0,0);
	-o-transform: translate3d(-100%,0,0);
	-webkit-transform: translate3d(-100%,0,0);
	transform: translate3d(-100%,0,0);
}

.slides--titles li .title--t {
	color: #333;
	display: block;
	height: 50px;
	line-height: 50px;
	padding: 0 10px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.jflex--dark .slides--titles li .title--t {
	color: #ccc;
}

.slides--titles .title--manual .title--l {
	-moz-transition: all linear .3s;
	-ms-transition: all linear .3s;
	-o-transition: all linear .3s;
	-webkit-transition: all linear .3s;
	transition: all linear .3s;
}

.slides--titles .title--auto .title--l {
	-moz-transition: all linear .3s;
	-ms-transition: all linear .3s;
	-o-transition: all linear .3s;
	-webkit-transition: all linear .3s;
	transition: all linear .3s;
}

.slides--titles .title--auto.title--active .title--l {
	-moz-transition: all linear 5s;
	-ms-transition: all linear 5s;
	-o-transition: all linear 5s;
	-webkit-transition: all linear 5s;
	transition: all linear 5s;
}

.slides--anim-js .title--active .title--l {
	left: 0;
}

.slides--anim-css .title--active .title--l {
	-moz-transform: translate3d(0,0,0);
	-ms-transform: translate3d(0,0,0);
	-o-transform: translate3d(0,0,0);
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

.slides--anim-js .title--right .title--l {
	left: 100%;
}

.slides--anim-css .title--right .title--l {
	-moz-transform: translate3d(100%,0,0);
	-ms-transform: translate3d(100%,0,0);
	-o-transform: translate3d(100%,0,0);
	-webkit-transform: translate3d(100%,0,0);
	transform: translate3d(100%,0,0);
}

.slides--titles .title--active .title--t {
	color: #000;
	font-weight: bold;
}

.jflex--dark .slides--titles .title--active .title--t {
	color: #fff;
}

.slides--titles .title--active {
	background: #ddd;
}

.jflex--dark .slides--titles .title--active {
	background: #111;
}

.jflex-arrow {
	background: #fff;
	color: white;
	cursor: pointer;
	height: 54px;
	left: 0;
	margin-top: -27px;
	opacity: .2;
	position: absolute;
	top: 50%;
	-moz-transition: opacity ease-out .2s;
	-ms-transition: opacity ease-out .2s;
	-o-transition: opacity ease-out .2s;
	-webkit-transition: opacity ease-out .2s;
	transition: opacity ease-out .2s;
	width: 44px;
	z-index: 4;
}

.jflex-arrow:hover {
	opacity: .5;
}

.jflex-arrow--left {
	border-bottom-right-radius: 3px;
	border-top-right-radius: 3px;
}

.jflex-arrow--right {
	border-bottom-left-radius: 3px;
	border-top-left-radius: 3px;
	left: auto;
	right: 0;
}

.jflex-arrow:before {
	border: solid transparent;
	border-width: 14px;
	content: ' ';
	height: 0;
	left: auto;
	margin-top: -14px;
	right: 16px;
	position: absolute;
	pointer-events: none;
	top: 50%;
	-moz-transition: opacity ease-out .2s;
	-ms-transition: opacity ease-out .2s;
	-o-transition: opacity ease-out .2s;
	-webkit-transition: opacity ease-out .2s;
	transition: opacity ease-out .2s;
	width: 0;
}

.jflex-arrow:after {
	border: solid transparent;
	border-width: 10px;
	content: ' ';
	height: 0;
	left: auto;
	margin-top: -10px;
	right: 15px;
	position: absolute;
	pointer-events: none;
	top: 50%;
	-moz-transition: opacity ease-out .2s;
	-ms-transition: opacity ease-out .2s;
	-o-transition: opacity ease-out .2s;
	-webkit-transition: opacity ease-out .2s;
	transition: opacity ease-out .2s;
	width: 0;
}

.jflex-arrow--left:before {
	border-right-color: #000;
}

.jflex-arrow--left:after {
	border-right-color: #fff;
}

.jflex-arrow--right:before {
	border-left-color: #000;
	left: 16px;
}

.jflex-arrow--right:after {
	border-left-color: #fff;
	left: 16px;
}

.jflex--dark .jflex-arrow {
	background: #000;
	opacity: .7;
}

.jflex--dark .jflex-arrow:hover {
	opacity: .9;
}

.jflex--dark .jflex-arrow--left:before {
	border-right-color: #fff;
}

.jflex--dark .jflex-arrow--left:after {
	border-right-color: #000;
}

.jflex--dark .jflex-arrow--right:before {
	border-left-color: #fff;
	left: 16px;
}

.jflex--dark .jflex-arrow--right:after {
	border-left-color: #000;
	left: 16px;
}

.jflex--hidden,
.jflex--hidden:hover,
.jflex--dark .jflex--hidden,
.jflex--dark .jflex--hidden:hover {
	opacity: 0;
}